<%- include('../partials/header') %>
<body class='userEditBg'>
  <div class="userIndexBg2">
    <h1>Edit Your Details</h1>
    <form action="/user/<%=user.id%>?_method=PUT" method="POST" class="userForm">
      <div>
        Name
        <input type="text" name="name" value="<%=user.name%>">
      </div>
      <div>
        Weight
        <input type="number" name="weight" value="<%=user.weight%>">
      </div>
      <div>
        Height
        <input type="number" name="height" value="<%=user.height%>">
      </div>
      <div>
        Age
        <input type="number" name="age" value="<%=user.age%>">
      </div>
      <div>
        Calories
        <input type="number" name="calories" value="<%=user.calories%>">
      </div>
      <button type="submit">Update User</button>
    </form>
  </div>
</body>

