<%- include('../partials/header') %>

<h1>edit User Details</h1>
<img src="<%=user.avatar%>">
<div class="userInfo">
  <div class="userInfoLine">
    <span>Name</span><span><%=user.name%></span>
  </div>
  <div class="userInfoLine">
    <span>weight</span><span><%=user.weight%></span>
  </div>
  <div class="userInfoLine">
    <span>Height</span><span><%=user.height%></span>
  </div>
  <div class="userInfoLine">
    <span>Age</span><span><%=user.age%></span>
  </div>
  <div class="userInfoLine">
    <span>Calories</span><span><%=user.calories%></span>
  </div>
</div>
<body>
  <form action="/user/<%=user.id%>?_method=PUT" method="POST">
    <input type="text" name="name" value="<%=user.name%>">
    <input type="number" name="weight" value="<%=user.weight%>">
    <input type="number" name="height" value="<%=user.height%>">
    <input type="number" name="age" value="<%=user.age%>">
    <input type="number" name="calories" value="<%=user.calories%>">
    <button type="submit">Update user</button>
  </form>
</body>
</html>

