<%- include('../partials/header') %>
<h1 class="userDetailsHeader">User info</h1>


<div class="userDetails">
  <img src="<%=user.avatar%>">
  <div class="userInfoLine">
    <span>weight: </span><span><%=user.weight%> Kg</span>
  </div>
  <div class="userInfoLine">
    <span>Height: </span><span><%=user.height%> cm</span>
  </div>
  <div class="userInfoLine">
    <span>Age: </span><span><%=user.age%> Years old</span>
  </div>
  <div class="userInfoLine">
    <span>Calories: </span><span><%=user.calories%> KCal</span>
  </div>
  <a href="/user/<%=user.id%>/edit">
    <button type="submit">Edit User Details</button>
  </a>
</div>
