<%- include('../partials/header') %>

<div class='userIndexBg'>
  <h1 class="userDetailsHeader">Hello <%=user.name%>, Welcome to Abs-olute</h1>
  <h2 class="userDetailsHeader">Please enter your details below to get started!</h2>


  <div class="userDetails">
    <img class= "userPic" src="<%=user.avatar%>">
    <div class="userDetailsBox">
    <div class="userInfoLine">
      <span>weight: </span><span><%=user.weight%> Kg</span>
    </div>
    <div class="userInfoLine">
      <span>Height: </span><span><%=user.height%> cm</span>
    </div>
    <div class="userInfoLine">
      <span>Age: </span><span><%=user.age%> Years old</span>
    </div>
    <div class="userInfoLine">
      <span>Calories: </span><span><%=user.calories%> KCal</span>
    </div>
    </div>
    <a href="/user/<%=user.id%>/edit">
      <button type="submit">Edit User Details</button>
    </a>
  </div>
</div>
