<%- include('../partials/header') %>

<h1 class="programlistHeader">Program list</h1>


<body class="programIndexBg">
  <div class="programIndexDiv">
    <% programs.forEach((p) => { %>
      <div class="programItem">
        <img class= userPic src="<%= p.userAvatar %>" alt="avatar" referrerpolicy="no-referrer">
        <div class="programTitle">
          <p><%= p.title %></p>
        </div>
        <div class="programDetails">
          <p><span class="userBlackStyle">Duration:</span> <span class="userDetailsFont"><%= p.duration %> Minutes</span></p>
          <p><span class="userBlackStyle">Creator:</span> <span class="userDetailsFont"><%= p.userName %></span></p>
          <a class="learnMore" href="/programs/<%= p._id %>">Learn more</a>
          <% if(user?._id.equals(p.user)){ %>
            <form action="/programs/<%= p._id %>?_method=DELETE" method="POST">
              <button class='deleteButton'type="submit">Delete</button>
            </form>
          <% } %>
        </div>
      </div>
    <% }); %>
  </div>
</body>
