<%- include('../partials/header') %>

<h1 class="programlistHeader">Program list</h1>


<body class="programIndexBg">
  <div class="programIndexDiv">
    <% programs.forEach((p) => { %>
      <div class="programItem">
        <img class= userPic src="<%= p.userAvatar %>" alt="avatar" referrerpolicy="no-referrer">
        <div class="programTitle">
          <p><%= p.title %></p>
        </div>
        <div class="programDetails">
          <p>Duration: <%= p.duration %> Minutes</p>
          <p>Creator: <%= p.userName %></p>
          <a href="/programs/<%= p._id %>">Learn more</a>
          <% if(user?._id.equals(p.user)){ %>
            <form action="/programs/<%= p._id %>?_method=DELETE" method="POST">
              <button class='deleteButton'type="submit">Delete</button>
            </form>
          <% } %>
        </div>
      </div>
    <% }); %>
  </div>
</body>
