<%- include('../partials/header') %>
<body class="swimming">
  
  <div class="titleSmaller justify-text">
    <h1>program details</h1>
  </div>
  
  <% if(user?._id.equals(program.user)) {%>
    <button class="editButton">EDIT</button>
    <% }; %>
    <section class="mainProgramDetails add-container ">
      <div class="smaller-title">Program Name:</div>
      <div class="para"><%=program.title%></div>
      <div class="smaller-title">Program Details:</div>
      <div class="text-width justify-text para"><%=program.workout%></div>
    </section>
    
    <br />
    
    <section class="opinions">
      <h2 class="justify-text smaller-title">Opinions</h2>
      <form class="prog-det-flex" method="POST" action="/programs/<%=program._id%>/opinion">
        
        <textarea name="comment"></textarea> <br>
        
        <input class="but-marg" type="submit" value="Add Opinion" /> <br>
        <tbody>
          <% program.opinion.forEach((ol)=>{ %>
            <%}) %>
          </tbody>
        </form>
        
        <h3 class="smaller-title justify-text">Workout opinions</h3>
        <% if(program.opinion.length) {%> <% program.opinion.forEach((ol) => { %> 
          <% if(user?._id.equals(ol.user)){ %>
          <div class="op-marg op-text">

            <img
            class="user-pic-op"
            src="<%=ol.userAvatar%>"
            alt="avatar"
            referrerpolicy="no-referrer"
            />
            <%= ol.userName %>:
            <%= ol.comment %>
            <form action="/opinion/<%= ol._id %>?_method=DELETE" method="POST">
              <button type="submit">X</button>
            </form>
          </div>
            
            <% }}); %> <% } else { %>
              <div class="prog-det-flex no-comment">
                <h1>NO COMMENTS</h1>
              </div>
              <% } %>
            </section>
          </section>
          
          <% if(user?._id.equals(program.user)) {%>
            
            <script>
              const progDetailsSection = document.body.querySelector(
                'section.mainProgramDetails'
                )
                
                let progDetailsSectionOldHtml = progDetailsSection.innerHTML
                const progTitle = progDetailsSection.querySelector('div:nth-child(2)')
                const progWorkoutContent =
                progDetailsSection.querySelector('div:nth-child(4)')
                const progOpinions = document.body.querySelector('section.opinions')
                const editBut = document.body.querySelector('button.editButton')
                const secondH1 = document.body.querySelector('.title h1')
                
                console.log(secondH1)
                
                onload = () => {
                  document
                  .querySelector('button.editButton')
                  .addEventListener('click', editProgram)
                }
                
                let oldTitle = progTitle.innerText
                let progWorkoutContentOldText = progWorkoutContent.innerText
                
                cancelEdit = () => {
                  progDetailsSection.innerHTML = progDetailsSectionOldHtml
                  // progDetailsSection
                  progOpinions.style.display = 'block'
                  editBut.style.display = 'inline'
                  secondH1.style.display = 'block'
                  progTitle.innerText = oldTitle
                  progWorkoutContent.innerText = progWorkoutContentOldText
                }
                const editProgram = () => {
                  progOpinions.style.display = 'none'
                  editBut.style.display = 'none'
                  secondH1.style.display = 'none'
                  progDetailsSection.innerHTML = `
                  <form action="/programs/<%=program._id%>?_method=PUT" method="POST">
                    <label>Workout Name</label>
                    <input type="text" name="title" value= "${progTitle.innerText}"/>
                    <br />
                    <textarea name="workout" id="workout" cols="30" rows="10">
                      ${progWorkoutContent.innerText}
                      </textarea>
                      <input type="submit" value="Update"/><button type="button" class="cancelEditButton" onclick="cancelEdit()">cancel</button>
                      </form>
                      `
                    }
                  </script>
<% }; %>
</body>